<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title>template speed test</title>
<style>
.box p{margin:0;}
.box input{width:100px;}
.box span{color:#333;}
</style>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/mtpl_v1.0.js"></script>
<script src="js/tmpl.js"></script>
<script src="js/ejs.js"></script>
<script src="js/doT.js"></script>
<script src="js/juicer.js"></script>
<script src="js/arttemplate.js"></script>
<script src="js/kissy.js"></script>
<script src="js/kissytemplate.js"></script>
<script src="js/mustache.js"></script>
<script src="js/baidu.template.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/easytemplate.js"></script>

<script>
//返回模板source, n要生成的数据字段数。
var renderTplText = function(n){
	var i=0, s='';  
	for(; i++<n;){
	    s+='	<li><%= obj.key'+(i-1)+' %></li>\n';
	}
	return '<ul>\n' + s + '</ul>';
};

var renderTplText2 = function(n){
	var i=0, s='';
	s+='<% for (i = 0, l = list.length; i < l; i++) { %>';
	s+='	<li><%=list[i].index%>姓名: <%=list[i].name%> 年龄：<%=list[i].age%></li>';
	s+='<% } %>';
	return '<ul>\n' + s + '</ul>';
};

//Uncaught SyntaxError: Too many parameters in function definition (only 32766 allowed) 
var times=1;
var n=100000;
var source = renderTplText2(n);
var data2 = (function(n){//数据json
	var d={};
	d.obj={};
	var obj=d.obj;
	obj.length=n;
	for (var i = 0, len=n; i < len; i++) {
		obj['key'+i]=i;
	}
	return d;
})(n);

var data = (function(){//数据json
	var arr=[];
	for (var i = 0, len=n; i < len; i++) {
		arr.push({index : i, name: 'john', age : 30 });	   
	}
	return {list: arr};
})();

var t = Date.now();
var s='';
for (var i = 0; i < times; i++) {
	s=mTpl(source, data,'','',false);				
} 
//console.log('mTpl:\n'+s);
console.log('mTpl time is:' +(Date.now() - t));

var t = Date.now();
var s='';
for (var i = 0; i < times; i++) {
	s=tmpl(source, data);
}
//console.log('tmpl:\n'+s);
console.log('tmpl time:' +(Date.now() - t));

/*var t = Date.now();
var render = template.compile(source);
var s='';
for (var i = 0; i < times; i++) {
	s=render(data);		
}
//console.log('artTemplate:\n'+s);
console.log('artTemplate time:' +(Date.now() - t));

var t = Date.now();
var obj = new EJS({text:source,type:"<"}); 
var s='';
for (var i = 0; i < times; i++) {
	s=obj.render(data);
}
//console.log('EJS:\n'+s);
console.log('EJS time:' +(Date.now() - t));*/



//return arrTestCaseList
var renderTestCaseList = function(strTestCaseList, n, times, source, data){	
	var arrTestCaseList = [];
	var objTestCaseList={
		mTpl : {
			name: 'mTpl',
			tester: function () {
				var s='';
				for (var i = 0; i < times; i++) {
					s=mTpl(source, data);				
				} 
				console.log(this.name+':\n'+s);
			}
		},

		ejs : {
			name: 'ejs',
			tester: function () {				
				var tpl = new EJS({text:source,type:"<"}); 
				var s='';
				for (var i = 0; i < times; i ++) {
					s=tpl.render(data);
				}
				//console.log(this.name+':\n'+s);
			}
		},
		
		tmpl : {
			name: 'tmpl',
			tester: function () {
				var s='';
				for (var i = 0; i < times; i ++) {
					s=tmpl(source, data);
				}
				//console.log(this.name+':\n'+s);
			}
		},

		Mustache : {
			name: 'Mustache',
			tester: function () {
				var source = document.getElementById('Mustache').innerHTML;
				var s='';
				for (var i = 0; i < times; i ++) {
					s=Mustache.to_html(source, data);
				}
				console.log(this.name+':\n'+s);
			}
		},

		doT : {
			name: 'doT',
			tester: function () {
				var source = document.getElementById('doT').innerHTML;
				var doTtmpl = doT.template(source);
				
				var s='';
				for (var i = 0; i < times; i ++) {
					s=doTtmpl(data);
				}
				console.log(this.name+':\n'+s);
			}
		},

		juicer : {
			name: 'juicer',
			tester: function () {
				var config = {cache:true};

				var source = document.getElementById('juicer').innerHTML;
				
				var s='';
				for (var i = 0; i < times; i ++) {
					var s=juicer.to_html(source, data, config);
				}
				console.log(this.name+':\n'+s);
			}
		},

		artTemplate : {
			name: 'artTemplate',
			tester: function () {
				var s='';
				var fn = template.compile(source);
				for (var i = 0; i < times; i++) {
					s=fn(data);		
				} 
				//console.log(this.name+':\n'+s);				
			}
		},

		baiduTemplate : {
			name: 'baiduTemplate',
			tester: function () {
				var bt=baidu.template;

				var s='';
				for (var i = 0; i < times; i ++) {
					s=bt('baidu-template', data);
				}
				console.log(this.name+':\n'+s);
			}
		},
		
		jqueryTmpl : { // jqueryTmpl 太慢，可能导致浏览器停止响应
			name: 'jqueryTmpl',
			tester: function () {
				var source = document.getElementById("jqueryTmpl").innerHTML;
				
				var s='';
				for (var i = 0; i < times; i ++) {
					s=$.tmpl(source, data);
				}
				console.log(this.name+':\n'+s);
			}
		},
		
		easyTemplate : {
			name: 'easyTemplate',
			tester: function () {
				var source = document.getElementById('easyTemplate').innerHTML;
				var fn = easyTemplate(source);
				
				var s='';
				for (var i = 0; i < times; i ++) {
					// easyTemplate 渲染方法被重写到 toString(), 需要取值操作才会运行
				   s=fn(data) + '';
				}
				console.log(this.name+':\n'+s);
			}
		}		
		
	};

	KISSY.use('template',function(S,T) {
		objTestCaseList.kissyTemplate = {
			name: 'kissyTemplate',
			tester: function () {
				var source= document.getElementById('kissy').innerHTML;
				var tpl=T(source);
				
				var s='';
				for (var i = 0; i < times; i ++) {
					s=tpl.render(data);
				}
				console.log(this.name+':\n'+s);
			}
		};
	});
	
	var arr=strTestCaseList.split(',');
	for(var i=0, len=arr.length; i<len;i++){
		arrTestCaseList.push(objTestCaseList[arr[i].trim()]);		
	}

	return arrTestCaseList;
}

//开始测试
var startTest = function (trigger) { 
	if($(trigger).attr('disabled')){return;}
	$(trigger).attr('disabled','true');

	//测试案例List:  
	//mTpl, tmpl, ejs,  Mustache, juicer, doT, artTemplate, 
	//baiduTemplate, kissyTemplate, easyTemplate, jqueryTmpl
	var strTestCaseList =$('.box input').eq(2).val().trim() || 'mTpl tmpl ejs';//测试案例List 
	var n=parseInt($('.box input').eq(0).val())|| 10000;//数据字段数
	var times=parseInt($('.box input').eq(1).val())|| 1;//渲染次数
	var source = renderTplText(n);//原模板text
	var data = (function(){//数据json
		var obj={};
		obj.length=n;
		for (var i = 0, len=n; i < len; i++) {
			obj['key'+i]=i;
		}
		return obj;
	})();

	var c=strTestCaseList;
	c=c.charAt(0)!=',' ? c : c.slice(1).trim();
	c=c.slice(-1)!=','?c : c.slice(0, c.length-1).trim();

	var arrTestCaseList=renderTestCaseList(c, n, times, source, data);  
    
    //画图，传时间参数
	var chartDraw = (function(){
    	var colors = Highcharts.getOptions().colors;
		colors=colors.concat(colors,colors,colors,colors,colors); //颜色数组
		
	    var categories = [];

	    for (var i = 0; i < arrTestCaseList.length; i ++) {
	        categories.push(arrTestCaseList[i].name);
	    }

	    var chart = new Highcharts.Chart({
	        chart: {
	            renderTo: 'container',
	            height: categories.length * 30 +100,
	            type: 'bar'
	        },

	        title: {
	            text: 'JavaScript 模板引擎效率测试'
	        },

	        subtitle: {
	            text: n + ' 个字段数据 × ' + times + ' 次渲染'
	        },
	                
	        xAxis: {
	            categories: categories,
	            labels: {
	                align: 'right',
	                style: {
	                    fontSize: '12px',
	                    fontFamily: 'Verdana, sans-serif'
	                }
	            }
	        },

	        yAxis: {
	            min: 0,
	            title: {
	                text: '耗时(毫秒)'
	            }
	        },

	        legend: {
	            enabled: false
	        },

	        tooltip: {
	            formatter: function() {
	                return '<b>'+ this.x +'</b><br/>'+
	                    this.y + '毫秒';
	            }

	        },

	        credits: {
	            enabled: false
	        },
			plotOptions: {
				bar: {
					dataLabels: {
						enabled: true,
	                    formatter: function () {
	                        return this.y + 'ms';
	                    }
					}
				}
			},
	        series: [{
	            data : []
	        }]
	    });

		return function(time){
			chart.series[0].addPoint(
				{
					//name: 'Point 1', 
					color: colors.shift(),  
					y: time 
				}
			);
		}
	})();

	oMessage = document.getElementById('message');
	
    (function () { 
        if (!arrTestCaseList.length) {
			$('#button-test').removeAttr('disabled');
			oMessage.innerHTML='测试已完成';
			return;
		}	
		
		var currentCase = arrTestCaseList.shift(), t=arguments.callee;
		oMessage.innerHTML = '正在测试: ' + currentCase.name + '...';	
		
        var startTime = Date.now();
        currentCase.tester();
		chartDraw( Date.now()-startTime );

        setTimeout(function () {
            t();
        }, 2000);      
    })();
};
</script>
</head>

<body>

<h1>JavaScript模板引擎速度比较</h1>
<p><strong>(注意不要把下面的数字一下设置得过高，有的模板解析器会令浏览器崩掉，如:jqueryTmpl)</strong></p>

<div class="box">
	<p> 数据字段:<input type="text" value="10000" />  </p>
	<p> 渲染次数:<input type="text" value="1" /> </p>
	<p> 测试案例:<input type="text" value="mTpl, tmpl" style="width:620px;" /> </p>
	<p>可选测试案例(用逗号隔开)： </p>
	<p>
		mTpl, tmpl, ejs,  Mustache, juicer, doT, artTemplate, 
		baiduTemplate, kissyTemplate, easyTemplate, jqueryTmpl
	</p>
</div>

<div>
	<button id="button-test" onclick="startTest(this)" style="padding:5px;">开始测试&raquo;</button> 
	<span id="message" style="font-size:12px"></span>
</div>

<div id="container" style="min-width: 400px; margin: 0 auto"></div>

</body>
</html>
