<!DOCTYPE HTML>
<html>

<head>
<meta charset="utf-8" />
<title>Benchmark of JavaScript Template Engines</title>
<style>
	.wrap {
		padding: 10px 40px;
	}

	.wrap h1{
		padding-bottom: 10px;
		font-weight: bolder;
    	font-family: "Helvetica Neue", sans-serif;
    }

	.box p {
		margin: 8px 0 0;
	}

	.box {
		padding-bottom: 20px;
	}
	
	.box p strong{
		width: 140px;
		display: inline-block;
	}

	.box input {
		width: 100px;
	}

	.box input.case {
		width: 620px;
	}

	.box span {
		color: #333;
	}
	#message{color: #0b6ee1;}
</style>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/mtpl_v1.0.js"></script>
<script src="js/txtpl.js"></script>
<script src="js/tmpl.js"></script>
<script src="js/ejs.js"></script>
<script src="js/kissy.js"></script>
<script src="js/kissytemplate.js"></script>
<script src="js/mustache.js"></script>
<script src="js/baidu.template.js"></script>
<script src="js/jquery.tmpl.js"></script>
<script src="js/easytemplate.js"></script>
<script src="js/handlebars-v1.3.0.js"></script>

<script>
	function renderTestCaseList(caseSwitcher, joinChar, times, data) {
		const allTestCaseList = {
			mTpl: {
				name: 'mTpl',
				tester: function () {
					let str = document.getElementById('tpl-1').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = mTpl({ str, data });
					}
					// console.log(s);
					return s;
				}
			},

			ejs: {
				name: 'ejs',
				tester: function () {
					let source = document.getElementById('tpl-1').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = new EJS({
							text: source,
							type: "<",
							cache: false
						}).render(data);
					}

					return s;
				}
			},

			tmpl: {
				name: 'tmpl',
				tester: function () {
					let source = document.getElementById('tpl-1').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = tmpl(source, data);
					}
					return s;
				}
			},

			Mustache: {
				name: 'Mustache',
				tester: function () {
					let source = document.getElementById('Mustache').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = Mustache.to_html(source, data);
					}
					return s;
				}
			},

			Handlebars: {
				name: 'Handlebars',
				tester: function () {
					let source = document.getElementById('Handlebars').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = Handlebars.compile(source)(data);
					}
					return s;
				}
			},

			baiduTemplate: {
				name: 'baiduTemplate',
				tester: function () {
					let s = '';
					for (let i = 0; i < times; i++) {
						s = baidu.template('baidu-template', data);
					}
					return s;
				}
			},

			easyTemplate: {
				name: 'easyTemplate',
				tester: function () {
					let source = document.getElementById('easyTemplate').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						let fn = easyTemplate(source);
						s = fn(data) + '';
					}
					return s;
				}
			},

			jqueryTmpl: { // jqueryTmpl 太慢，可能导致浏览器停止响应
				name: 'jqueryTmpl',
				tester: function () {
					let source = document.getElementById("jqueryTmpl").innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = $.tmpl(source, data);
					}
					return s;
				}
			}
		};

		KISSY.use('template', function (S, T) {
			allTestCaseList.kissyTemplate = {
				name: 'kissyTemplate',
				tester: function () {
					let source = document.getElementById('kissy').innerHTML;
					let s = '';
					for (let i = 0; i < times; i++) {
						s = T(source).render(data);
					}
					return s;
				}
			};
		});

		const testCaseList = [], arr = caseSwitcher.split(joinChar);
		for (let i = 0, len = arr.length; i < len; i++) {
			testCaseList.push(allTestCaseList[arr[i].trim()]);
		}

		return testCaseList;
	}

	function getChart(categories, n, times) {
		return new Highcharts.Chart({
			chart: {
				renderTo: 'container',
				height: categories.length * 30 + 100,
				type: 'bar'
			},

			title: {
				text: 'Benchmark of JavaScript Template Engines'
			},

			subtitle: {
				text: n + ' items × ' + times + ' renders'
			},

			xAxis: {
				categories: categories,
				labels: {
					align: 'right',
					style: {
						fontSize: '12px',
						fontFamily: 'Verdana, sans-serif'
					}
				}
			},

			yAxis: {
				min: 0,
				title: {
					text: 'Cost Time(ms)'
				}
			},

			legend: {
				enabled: false
			},

			tooltip: {
				formatter: function () {
					return '<b>' + this.x + '</b><br/>' +
						this.y + 'ms';
				}

			},

			credits: {
				enabled: false
			},
			plotOptions: {
				bar: {
					dataLabels: {
						enabled: true,
						formatter: function () {
							return this.y + 'ms';
						}
					}
				}
			},
			series: [{
				data: []
			}]
		});
	}

	function testFunc(pTrigger) {
		let trigger = pTrigger || this;
		if ($(trigger).attr('disabled')) { return; }
		$(trigger).attr('disabled', 'true');

		// 测试案例开关:  mTpl, tmpl, ejs,  Mustache, baiduTemplate, kissyTemplate, easyTemplate, jqueryTmpl
		let caseSwitcher = $('.box span').eq(2).text().trim() || 'mTpl, tmpl, ejs';
		let n = Number($('.box span').eq(0).text()) || 100; // 数据条数
		let times = parseInt($('.box span').eq(1).text()) || 100; // 不开启缓存等价于模板数量 		
		let randomInt = function (under, over) {
			switch (arguments.length) {
				case 1: return parseInt(Math.random() * under + 1, 10);
				case 2: return parseInt(Math.random() * (over - under + 1) + under, 10);
				default: return 0;
			}
		};

		let data = (function () { // 数据json 每条数据显示的字段数为3个
			let arr = [];
			for (let i = 0, len = n; i < len; i++) {
				arr.push({ index: i, name: 'john' + randomInt(10, 60), age: randomInt(10, 60) });
			}
			return { list: arr };
		})();

		caseSwitcher = caseSwitcher.charAt(0) != ',' ? caseSwitcher : caseSwitcher.slice(1).trim();
		caseSwitcher = caseSwitcher.slice(-1) != ',' ? caseSwitcher : caseSwitcher.slice(0, caseSwitcher.length - 1).trim();

		let testCaseList = renderTestCaseList(caseSwitcher, ',', times, data);

		let colors = Highcharts.getOptions().colors;
		colors = colors.concat(colors, colors, colors, colors, colors); // 颜色数组

		let categories = [];
		for (let i = 0; i < testCaseList.length; i++) {
			categories.push(testCaseList[i].name);
		}

		let chart = getChart(categories, n, times);

		oMessage = document.getElementById('message');

		(function () {// 递归函数    	
			if (!testCaseList.length) {
				$('#button-test').removeAttr('disabled');
				oMessage.innerHTML = 'Test Finished';
				return;
			}

			let currentCase = testCaseList.shift(), t = arguments.callee;
			oMessage.innerHTML = 'Testing: ' + currentCase.name + '...';

			let startTime = Date.now();
			let s = currentCase.tester();
			// console.log(currentCase.name); console.log(s);
			let endTime = Date.now();

			chart.series[0].addPoint({ color: colors.shift(), y: endTime - startTime });

			setTimeout(function () {
				t();
			}, 1000);
		})();
	}

	// $(document).delegate('#button-test', 'click', testFunc);
	setTimeout(testFunc, 1000);
</script>

</head>

<body>

<div id="template-box">
	<!-- mTpl、tmpl、ejs的模板 -->
	<script id="tpl-1" type="text/tmpl">
	<ul>
		<% for (i = 0, l = list.length; i < l; i++) { %>
			<li>序号：<%=list[i].index%> 姓名：<%=list[i].name%> 年龄：<%=list[i].age%></li>
		<% } %>
	</ul>
	</script>
	
	<!--Mustache 的模板 -->
	<script id="Mustache" type="text/tmpl">
	<ul>
		{{#list}}
			<li>序号：{{{index}}} 姓名：{{{name}}} 年龄：{{{age}}}</li>
		{{/list}}
	</ul>
	</script>

	<!--Handlebars  的模板 -->
	<script id="Handlebars" type="text/tmpl">
	<ul>
		{{#list}}
			<li>序号：{{{index}}} 姓名：{{{name}}} 年龄：{{{age}}}</li>
		{{/list}}
	</ul>
	</script>
	
	<!-- baidu-template 的模板 -->
	<script id="baidu-template" type="text/tmpl">
	<ul>
		<% for (var val, i = 0, l = list.length; i < l; i++) { %>
			<% val = list[i]; %>
			<li>序号：<%:=val.index%> 姓名：<%:=val.name%> 年龄：<%:=val.age%></li>
		<% } %>
	</ul>
	</script>

	<!--kissy 的模板 -->
	<script id="kissy" type="text/tmpl">
	<ul>
		{{#each list as val}}
			<li>序号：{{val.index}} 姓名：{{val.name}} 年龄：{{val.age}}</li>
		{{/each}}
	</ul>
	</script>
	
	<!-- easyTemplate 的模板 -->
	<script id="easyTemplate" type="text/tmpl">
	<ul>
		<#list data.list as item>
			<li>序号：${item.index} 姓名： ${item.name} 年龄：${item.age}</li>
		</#list>
	</ul>
	</script>
	
	<!-- jqueryTmpl 的模板 -->
	<script id="jqueryTmpl" type="text/tmpl">
	<ul>
		{{each list}}
			<li>序号：${$value.index} 姓名: ${$value.name} 年龄：${$value.age}</li>
		{{/each}}
	</ul>
	</script>
</div>

<div class="wrap">
	<h1>Benchmark of JavaScript Template Engines</h1>
	<h3>Test Case: Render a list. (each item displays index, name, age)</h3>

	<div class="box">
		<p> <strong>Single Item：</strong>format {index : 0, name: 'bobo', age : 28 } </p>
		<p> <strong>Data Count：</strong><span>100</span></p>
		<p> <strong>Template Count：</strong><span>1000</span></p>
		<p> <strong>Test Engines：</strong><span class="case">mTpl, baiduTemplate, kissyTemplate, easyTemplate, Handlebars, Mustache, tmpl, ejs, jqueryTmpl</span></p>
		<!-- <p>(友情提醒：不要把上面的数字设置得过高，有的模板解析器很容易令浏览器崩掉，如:jqueryTmpl)</p> -->
		<p> <strong>Progress：</strong><span id="message"></span></p>
	</div>

	<!-- <p>
		<button id="button-test" style="padding: 5px;">Start Test</button>
	</p> -->
	<div id="container" style="min-width: 400px; margin: 0 auto"></div>
</div>
</body>

</html>